@page
@model IndexModel
@{ ViewData["Title"] = "Home"; }

<div class="jumbotron p-2 text-center">
    <img src="/image/nba/nba.png" class="img-fluid">

    <div class="mb-2">
        <h3>Click one of the options below to get started.</h3>
        <div class="mt-2">
            <a class="btn btn-primary btn-lg" role="button" asp-area="" asp-page="/Teams/Index">Teams</a>
            <a class="btn btn-primary btn-lg" role="button" asp-area="" asp-page="/Players/Index">Players</a>
        </div>
    </div>
</div>
